name: Generate Snake

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  generate:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Generate snake
        uses: Platane/snk@v3
        with:
          github_user_name: farhanlabs
          outputs: |
            github-contribution-grid-snake-dark.svg?palette=github-dark

      - name: Commit & Push to output branch
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "actions@github.com"
          git checkout --orphan output
          git rm -rf .
          mv github-contribution-grid-snake-dark.svg snake.svg
          git add snake.svg
          git commit -m "Generate snake animation"
          git push origin output --force
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}